.projects-container {
    padding: 100px 20px;
    text-align: center;
  }
  .projects-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  .features{
    margin-bottom: 10px;
    margin-left: 15px;
  }
  .features li{
    padding-bottom: 5px;
    font-size: small;
    list-style: none;
  }
  .project-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px;
  }
  .project-card.left .project-content {
    display: flex;
    flex-direction: row;
  }
  .project-card.right .project-content {
    display: flex;
    flex-direction: row-reverse;
  }
  .project-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }  
  .project-text {
    max-width: 600px;
    text-align: left;
    margin: 10px;
  }  
  .project-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }  
  .project-description {
    text-align: justify;
    font-size: 1rem;
    margin-bottom: 10px;
  }  
  .project-date {
    font-size: 0.9rem;
    color: #999;
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }  
  .pagination-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }  
  .pagination-button:hover {
    background-color: #0056b3;
  }  
  @media (max-width: 768px) {
    .project-card.left .project-content,
    .project-card.right .project-content {
      flex-direction: column;
    }
    .project-text {
      text-align: center;
    }
  }
  